/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #c92235;
  --ifm-color-primary-dark: #b51f30;
  --ifm-color-primary-darker: #ab1d2d;
  --ifm-color-primary-darkest: #8d1825;
  --ifm-color-primary-light: #db283c;
  --ifm-color-primary-lighter: #dc3245;
  --ifm-color-primary-lightest: #e15061;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d74f5c;
  --ifm-color-primary-dark: #d23746;
  --ifm-color-primary-darker: #cc2e3d;
  --ifm-color-primary-darkest: #a82632;
  --ifm-color-primary-light: #dc6772;
  --ifm-color-primary-lighter: #df737d;
  --ifm-color-primary-lightest: #e7979f;
}
